<div class="container my-5 py-5">
    {{!-- sign in form  --}}
<section id="admin-login">
    <div class="container py-5">
        <div class="row d-flex align-items-center justify-content-center">
            {{> message}}
            {{!-- Login image  --}}
            <div class="col-md-8 col-lg-7 col-xl-6 mb-2">
                <img src="https://images.unsplash.com/photo-1679260584560-5131ab6c4723?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=580&q=80" class="img-fluid" alt="login-page-image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form class="needs-validation" action="/admin/login" method="post" novalidate>
                    <h5 class="fw-bold mt-2 mb-1 pb-3" style="letter-spacing: 1px;color:rgb(125, 117, 117)">Admin Console</h5>
                    <h1 class="fw-bold mb-3 pb-3" style="letter-spacing: 1px;">Log in</h1>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control form-control-lg" value="{{email}}" required>
                        <div class="invalid-feedback">Please enter a valid email.</div>
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control form-control-lg" pattern="^(?=.*\d)(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,16}$" required>
                        <div class="invalid-feedback">Please enter your password. The password must contain at least 8 and maximum 16 characters, including at least 1 uppercase, 1 lowercase, and one number.</div>
                    </div>
                    <div class="text-center align-items-center mb-4">
                        <a href="/admin/forgetPassword">Forgot password?</a>
                    </div>
                    <!-- Submit button -->
                    <div class="signin-btn text-center">
                        <button type="submit" class="btn btn-success btn-block">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</div>
