<div class="container my-5 py-5">
  {{!-- forget password form --}}
  <section id="admin-forget-password">
    <div class="container py-5">
      <div class="row d-flex align-items-center justify-content-center">
        {{> message}}
        {{!-- Login image --}}
        <div class="col-md-8 col-lg-7 col-xl-6 mb-2">
          <img
            src="https://images.unsplash.com/photo-1679260584560-5131ab6c4723?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=580&q=80"
            class="img-fluid" alt="login-page-image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form class="needs-validation" action="/admin/forgetPassword"
            method="post" novalidate>
            <h5 class="fw-bold mt-2 mb-1 pb-3" style="letter-spacing:
              1px;color:rgb(125, 117, 117)">Admin Console</h5>
            {{> forget-password-input}}
            <div class="align-items-center my-4">
              <p class="text-center my-2"><a class="link-primary"
                  href="/admin/login">Login</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
