<footer class="fixed-bottom">
   <!-- Grid container -->
  <div class="container pt-4 mb-1">
    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
        <!--Grid column-->
          <div class="col-md-auto col-12">
            <p>
              <label class="form-label" for="newsletterSub">
                <strong class="fs-3">Stay tuned!</strong>
              </label>
            </p>
          </div>
          <!--Grid column-->
          <div class="col-lg-4 col-md-5 col-10">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="newsletterSub" class="form-control" placeholder="Enter your email address"/>
            </div>
          </div>
            <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-secondary mb-2">
              Subscribe to Our Newsletter
            </button>
          </div>
         </div>
      </form>
    </section>
  </div>
  <div class="row d-flex justify-content-center mb-2">
 <div class="col-md-auto col-12">
    <!-- Section: Social media -->
    <section class="mb-2 py-1">
      <!-- Facebook -->
      <a class="btn btn-outline-secondary btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <!-- Twitter -->
      <a class="btn btn-outline-secondary btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>
      <!-- Instagram -->
      <a class="btn btn-outline-secondary btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>    
    </section>
    <!-- Section: Social media -->
    </div>
  </div>
  <div class="row d-flex justify-content-center my-2">
    <div class="col-lg-8 col-md-6 col-12">
      <!-- Copyright -->
  <div class="text-large-center text-md-center text-center p-2">
    © 2023 Copyright:
    <a class="text-decoration-none" href="#">Fancy Kitchen</a><br>
    <span>Credit: </span><a target="_blank" href="https://icons8.com/icon/49569/chef-hat" class="text-decoration-none">Chef Hat icon by Icons8</a>
    </div>
    </div>
   
  </div>
  
  </div>
  </footer>
  

