<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <p>© 2023 Genius Chef. All rights reserved. Chef hat icon credited to <a target="_blank" href="https://icons8.com/icon/49569/chef-hat" class="text-decoration-none">Icons8</a> </p>
        </div>
        <div class="col-4">
          <ul class="list-inline mb-0 text-center">
        <li class="list-inline-item">
          <a href=""><span class="fa fa-twitter"></span></a>
        </li>
        <li class="list-inline-item">
          <a href=""><span class="fa fa-facebook"></span></a>
        </li>
        <li class="list-inline-item">
          <a href=""><span class="fa fa-instagram"></span></a>
        </li>
      </ul>
        </div>
      </div>
    </div>
</footer>