<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <p>© 2023 Genius Chef. All rights reserved. <small>Chef hat icon is credited to <a target="_blank" href="https://icons8.com/icon/49569/chef-hat" class="text-decoration-none">Icons8</a>.</small>   </p>
        </div>
        <div class="col-4 my-auto">
          <ul class="list-inline mb-0 text-center">
            <li class="list-inline-item">
              <a href=""><i class="fa-brands fa-twitter fa-lg"></i></a>
            </li>
            <li class="list-inline-item">
              <a href=""><i class="fa-brands fa-facebook fa-lg"></i></a>
            </li>
            <li class="list-inline-item">
              <a href=""><i class="fa-brands fa-instagram fa-lg"></i></a>
            </li>
            <li class="list-inline-item">
              <a href=""><i class="fa-brands fa-youtube fa-lg"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</footer>