<div class="back text-center my-3">
  <button type="button" class="btn btn-danger" onclick="javascript:history.back()">Go Back</button> 
  <a href="/"><button class="btn btn-secondary">Home Page</button></a>
</div>