<section id="how-it-works-banner">
  <div class="shadow"></div>
  <div class="how-it-works-banner-text">
    <h1 class="fw-bold">How it Works</h1>
  </div>
</section>
<section id="how-it-works">
  <div class="container">
    <div class="step-items">
      <div>
        <div class="step-item-icon"><i class="fa-regular fa-hand-pointer"></i></div>
        <div class="step-item-text">
          <h4>Choose Your Plan</h4>
          <p>Pick the menu you love, and tell us your preference. We'll arrange the box that fit your needs best based on servings and meals. </p>
        </div>
      </div>
      <div>
        <div class="step-item-icon"><i class="fa-solid fa-box-open"></i></div>
        <div class="step-item-text">
          <h4>What's in the box</h4>
          <p>Fresh, locally-sourced, pre-portioned ingredients along with step-by-step recipe cards will be delivered to you!</p>
        </div>
      </div>
      <div>
        <div class="step-item-icon"><i class="fa-solid fa-kitchen-set"></i></div>
        <div class="step-item-text">
          <h4>Cook and Enjoy!</h4>
          <p>Save your time on grocery shopping and meal planning. Follow instructions on recipe cards and enjoy the yummy and nutritious food!</p>
        </div>
      </div>

    </div>
  </div>
</section>
