<section id="how-it-works-banner">
  <div class="shadow"></div>
  <div class="how-it-works-banner-text">
    <h1 class="fw-bold">How it Works</h1>
  </div>
</section>
<section id="how-it-works">
  <div class="container">
    <div class="step-items">
      <div>
        <div class="step-item-icon"><i class="fa-regular fa-hand-pointer"></i></div>
        <div class="step-item-text">
          <h4>Choose Your Plan</h4>
          <p>Pick the menu you love, and tell us your preference. We'll arrange
            the box that fit your needs best based on servings and meals. </p>
        </div>
      </div>
      <div>
        <div class="step-item-icon"><i class="fa-solid fa-box-open"></i></div>
        <div class="step-item-text">
          <h4>Goodies on the way</h4>
          <p>Fresh, locally-sourced, pre-portioned ingredients along with
            step-by-step recipe cards will be delivered to you!</p>
        </div>
      </div>
      <div>
        <div class="step-item-icon"><i class="fa-solid fa-kitchen-set"></i></div>
        <div class="step-item-text">
          <h4>Cook and Enjoy!</h4>
          <p>Save your time on grocery shopping and meal planning. Follow
            instructions on recipe cards and enjoy the yummy and nutritious
            food!</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{!-- try it button --}}
<div class="text-center try-it-btn">
  <a href="/plans" class="btn mt-3">Try it now !</a>
</div>
{{!-- Our boxes section --}}
<section id="the-box">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-5 col-lg-7 col-xl-5 mb-2">
        <img
          src="https://images.unsplash.com/photo-1637087788835-4f051e32bfa1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80"
          alt="food box" class="img-fluid">
      </div>
      <div class="col-md-6 col-lg-5 col-xl-5 offset-xl-1">
        <h2>Our boxes</h2>
        <p class="large-paragraph">We are committed to protecting the planet by
          using sustainable materials in every Genius Chef meal kit box. Our
          dedication to using recyclable materials ensures that each box has a
          minimal impact on the environment.</p>
        <br>
        <p>Our boxes are also boast excellent insulation properties. This
          ensures that your fresh products stay fresher for longer, providing
          you with the best possible experience.</p>
      </div>
    </div>
  </div>
</section>

{{> footer}}
