{{!-- Carousel --}}
<section class="sec-carousel-banner">
  <div class="container-fluid mb-3 py-5 px-0">
    <div id="carouselExampleCaptions" class="carousel slide carousel-dark "
      data-bs-ride="carousel">
      <div class="carousel-inner w-100" style="max-height: 65%;">
        <div class="carousel-item active">
          <img
            src="https://images.unsplash.com/photo-1613865342405-8bcc28fd22c5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80"
            class="d-block w-100 img-fluid" alt="...">
          <div class="carousel-caption d-md-block">
            <p>Stress free cooking</p>

          </div>
        </div>
        <div class="carousel-item">
          <img
            src="https://images.unsplash.com/photo-1594046243098-0fceea9d451e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <p>100+ recipes every week</p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="https://images.unsplash.com/photo-1557844352-761f2565b576?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
            class="d-block w-100" alt="...">
          <div class="carousel-caption d-md-block">
            <p>Flexible plans. </p><p> Cancel anytime. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{!-- Features --}}
<section class="sec-features">
  <div class="features-container container">
    <h1 class="features-title mb-4 text-center">Why cook with us?</h1>
    <div class="row feat-cards-row">
      {{!-- Card 1 --}}
      <div class="col-12 col-md-4 my-2">
        <div class="card feat-card text-center">
          <img
            src="https://images.unsplash.com/photo-1586377886286-6cd3ebb22bc6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80"
            alt="" class="img-fluid">
          <div class="card-text">
            <h3 class="card-title">Diversity</h3>
            <p class="card-description">Hundreds of flavors cater to your needs</p>
          </div>
        </div>
      </div>
      {{!-- Card 2 --}}
      <div class="col-12 col-md-4 my-2">
        <div class="card feat-card text-center">
          <img
            src="https://images.unsplash.com/photo-1605433247501-698725862cea?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80"
            alt="" class="img-fluid">
          <div class="card-text">
            <h3 class="card-title">Easy</h3>
            <p class="card-description">Beginner or pro, cooking is just simple</p>
          </div>
        </div>
      </div>
      {{!-- Card 3 --}}
      <div class="col-12 col-md-4 my-2">
        <div class="card feat-card text-center">
          <img
            src="https://images.unsplash.com/photo-1536657464919-892534f60d6e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1174&q=80"
            alt="" class="img-fluid">
          <div class="card-text">
            <h3 class="card-title">Flexible</h3>
            <p class="card-description">Have changes in schedule? No worries!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- try it button --}}
  <div class="text-center try-it-btn">
    <a href="/plans" class="btn btn-success mt-3">Try it now !</a>
  </div>
</section>

{{!-- Commitment --}}
<section class="sec-commitment">
  <div class="commitment-container container">
    <h1 class="commitment-title my-4 text-center">Our Commitments</h1>

  </div>
</section>

{{!-- Voice from customers --}}
<section class="sec-feedback">
  <div class="feedback-container container-fluid">
    <h1 class="feedback-title my-4 text-center">Voice from Customers</h1>
    <div class="container-fluid mb-3 py-5 px-0">
      <div id="carouselFeedback" class="carousel slide">
      <img src="https://images.unsplash.com/photo-1498522271744-cdd435c13f24?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1175&q=80" alt="">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <blockquote class="blockquote">
                <p>We've been cooking with Genius Chef for over 6 months. No
                  need for endless grocery shopping and laborious meal planning
                  anymore. It brings together all the necessary ingredients into
                  several compact packages, making cooking a breeze even for the
                  novices among us. Embrace the joy of simplicity and bid
                  farewell to the hassles of meal preparation!</p>
                <p class="blockquote-footer mt-2">Chus Lihuén, 42, Architect</p>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <blockquote class="blockquote">
                <p>This convenient meal kit box from Genius Chef is packed
                  with everything we need to create a masterpiece in the
                  kitchen. From pre-measured ingredients to step-by-step
                  instructions, even the most inexperienced cook can whip up a
                  gourmet meal effortlessly.
                </p>
                <p class="blockquote-footer mt-2">Shani Chandra, 55, Childcare
                  worker</p>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <blockquote class="blockquote">
                <p>
                  I found that meal preparation with the Genius Chef meal box
                  was really easy. My kids also had fun helping out in the
                  kitchen. It was a great way to bond with them over cooking and
                  the meal turned out delicious. I would highly recommend the Genius Chef meal box to
                  anyone looking for a convenient and affordable way to make
                  delicious meals at home. 
                </p>
                <p class="blockquote-footer mt-2">Kalani Ngawang, 37, Housewife</p>
              </blockquote>
            </div>
          </div>

        </div>
      </div>
      <button class="carousel-control-prev" type="button"
        data-bs-target="#carouselFeedback" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button"
        data-bs-target="#carouselFeedback" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    </div>
  </div>
</section>
<!-- Section: Form -->
<section class="newsletter-form">
  <div class="container pt-4 mb-1">

    <form action="">
      <!--Grid row-->
      <div class="row d-flex justify-content-center">
        <!--Grid column-->
        <div class="col-md-auto col-12">
          <p>
            <label class="form-label" for="newsletterSub">
              <strong class="fs-3">Stay tuned!</strong>
            </label>
          </p>
        </div>
      </div>
      <!--Grid row-->
      <div class="row d-flex justify-content-center">
        <!--Grid column-->
        <div class="col-lg-4 col-md-5 col-10">
          <!-- Email input -->
          <div class="form-outline form-white mb-4">
            <input type="email" id="newsletterSub" class="form-control"
              placeholder="Enter your email address"/>
          </div>
        </div>
        <!--Grid column-->
        <div class="col-auto">
          <!-- Submit button -->
          <button type="submit" class="btn btn-outline-secondary mb-2">
            Subscribe to Our Newsletter
          </button>
        </div>
      </div>
    </form>

  </div>
</section>

{{>footer}}