<div class="container-fluid mb-5 py-5 px-0" >
  <div id="carouselExampleCaptions" class="carousel slide carousel-dark " data-bs-ride="carousel">
  <div class="carousel-inner w-100" style="max-height: 65%;">
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1613865342405-8bcc28fd22c5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80" class="d-block w-100 img-fluid" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p>Stress free cooking</p>
        
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1594046243098-0fceea9d451e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p>100+ recipes every week</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1557844352-761f2565b576?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p>Flexible plans </p>
      </div>
    </div>
  </div>
</div>
</div>

{{>footer}}