{{! menu item  }}
<div class="card my-4 mx-2" style="width: 18rem;">
  <div class="card-img">
    <img
      alt="<tiramisu>"
      class="card-img-top"
      src="https://cdn.pixabay.com/photo/2017/03/19/18/22/italian-food-2157246_1280.jpg"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">Tiramisu <span class="badge rounded-pill bg-success"><i class="fa-solid fa-leaf"></i></span></h5>
    <p class="card-text"></p>
    <ul class="cardContent-list">
      <li><i class="fa-solid fa-signal m-2"></i>Level:&nbsp;Beginner</li>
      <li><i class="fa-regular fa-clock m-2"></i>Time:&nbsp;30 min</li>
    </ul>
  </div>
</div>