<div class="menu-cards" >
{{! menu item }}
<div class="my-3 mx-2">
<a href="/recipe">
  <div class="card" >
  <div class="card-img">
    <img
      alt="<tiramisu>"
      class=" img-responsive center-block mb-2 card-img-top"
      src="https://images.unsplash.com/photo-1551183053-bf91a1d81141?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1232&q=80"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">Pasta
      <span class="badge rounded-pill bg-success"><i
          class="fa-solid fa-leaf"
        ></i></span></h5>
    <p class="card-text"></p>
    <ul class="cardContent-list">
      <li><i class="fa-solid fa-signal m-2"></i>Level:&nbsp;Beginner</li>
      <li><i class="fa-regular fa-clock m-2"></i>Time:&nbsp;30 min</li>
    </ul>
  </div>
</div>
</a>
</div>
<div class="my-3 mx-2">
<a href="/recipe">
  <div class="card" >
  <div class="card-img">
    <img
      alt="<tiramisu>"
      class=" img-responsive center-block mb-2 card-img-top"
      src="https://images.unsplash.com/photo-1551183053-bf91a1d81141?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1232&q=80"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">Pasta
      <span class="badge rounded-pill bg-success"><i
          class="fa-solid fa-leaf"
        ></i></span></h5>
    <p class="card-text"></p>
    <ul class="cardContent-list">
      <li><i class="fa-solid fa-signal m-2"></i>Level:&nbsp;Beginner</li>
      <li><i class="fa-regular fa-clock m-2"></i>Time:&nbsp;30 min</li>
    </ul>
  </div>
</div>
</a>
</div>
<div class="my-3 mx-2">
<a href="/recipe">
  <div class="card" >
  <div class="card-img">
    <img
      alt="<tiramisu>"
      class=" img-responsive center-block mb-2 card-img-top"
      src="https://images.unsplash.com/photo-1551183053-bf91a1d81141?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1232&q=80"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">Pasta
      <span class="badge rounded-pill bg-success"><i
          class="fa-solid fa-leaf"
        ></i></span></h5>
    <p class="card-text"></p>
    <ul class="cardContent-list">
      <li><i class="fa-solid fa-signal m-2"></i>Level:&nbsp;Beginner</li>
      <li><i class="fa-regular fa-clock m-2"></i>Time:&nbsp;30 min</li>
    </ul>
  </div>
</div>
</a>
</div>
<div class="my-3 mx-2">
<a href="/recipe">
  <div class="card" >
  <div class="card-img">
    <img
      alt="<tiramisu>"
      class=" img-responsive center-block mb-2 card-img-top"
      src="https://images.unsplash.com/photo-1551183053-bf91a1d81141?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1232&q=80"
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">Pasta
      <span class="badge rounded-pill bg-success"><i
          class="fa-solid fa-leaf"
        ></i></span></h5>
    <p class="card-text"></p>
    <ul class="cardContent-list">
      <li><i class="fa-solid fa-signal m-2"></i>Level:&nbsp;Beginner</li>
      <li><i class="fa-regular fa-clock m-2"></i>Time:&nbsp;30 min</li>
    </ul>
  </div>
</div>
</a>
</div>

</div>