<div class="section-title text-center">
    <h1 class="fw-bold" style="color: #06716e;">Our Plans</h1>
</div>
    <div class="form-container min-vh-75">
        <div class="form-image">
            <span class="form-image-title">Enjoy fresh food from us with just a few clicks away!</span>
        </div>
        <div class="preference-form">
            <form class="row g-3 needs-validation" novalidate>
                <h4 class="text-muted mt-4">1. Choose your menu </h4>
                <div class="col-md-4 my-4 ">
                    <div class="menu-row mb-2 fs-5">
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="menu"
                                id="classic"
                                value="classic"
                                />
                            <label class="form-check-label" for="classic">Classic</label>
                        </div>
                        <div class="form-check ">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="menu"
                                id="vegetarian"
                                value="vegetarian"
                                />
                            <label class="form-check-label" for="vegetarian">Vegetarian</label>
                        </div>
                    </div>
                </div>
                <h4 class="text-muted">2. Tell us your preference </h4>
                <div class="col-md-4 vw-100 my-4">
                    <div class="preference-row mb-2 fs-5">
                        <span class="preference-item">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="dairyfree"
                            />
                        <label class="form-check-label" for="dairyfree">
                        Dairy Free
                        </label>
                        </span>
                        <span class="preference-item"> 
                        <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="glutenfree"
                            />
                        <label class="form-check-label" for="glutenfree">
                        Gluten Free
                        </label>
                        </span>
                        <span class="preference-item">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="pescatarian"
                            />
                        <label class="form-check-label" for="pescatarian">
                        Pescatarian
                        </label>
                        </span>
                    </div>
                    <div class="preference-row mb-2 fs-5">
                        <span class="preference-item">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="strictvegan"
                            />
                        <label class="form-check-label" for="strictvegan">
                        Strict vegan
                        </label>
                        </span>
                        <span class="preference-item">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="lactoovovegetarian"
                            />
                        <label class="form-check-label" for="lactoovovegetarian">
                        Lacto-ovo vegetarian
                        </label>
                        </span>
                        <span class="preference-item">
                        <input
                            class="form-check-input"
                            type="checkbox"
                            value=""
                            id="quickandEasy"
                            />
                        <label class="form-check-label" for="quickandEasy">
                        Quick and easy
                        </label>
                        </span>
                    </div>
                </div>
                <h4 class="text-muted">3. Servings </h4>
                <div class="col-md-4 my-4">
                    <div class="servings-row mb-2">
                        <select class="form-select form-select-sm fs-5" aria-label="servings">
                            <option disabled>Servings</option>
                            <option value="2">2</option>
                            <option value="4">4</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                </div>
                <h4 class="text-muted">4. How many meals do you cook every week? </h4>
                <div class="col-md-4 my-4">
                    <div class="mealsPerWeek-row mb-2">
                        <select class="form-select form-select-sm  fs-5"  aria-label="servings">
                            <option disabled>Meals per week</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-success" type="submit">Continue</button>
                </div>
            </form>
        </div>
    </div>
