{{!-- reset password form  --}}
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            {{> message}}
            {{> login-image}}
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form class="needs-validation" action="/resetPassword" method="post" novalidate>
                    <h1 class="fw-bold mb-3 pb-3" style="letter-spacing: 1px;">Reset Password</h1>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control form-control-lg" value="{{email}}" required>
                        <div class="invalid-feedback">Please enter a valid email.</div>
                    </div>
                    <!-- Submit button -->
                    <div class="signin-btn text-center">
                        <button type="submit" class="btn btn-success btn-block">Send me an email</button>
                    </div>
                     <div class="align-items-center my-4">
                        <p class="text-center">Don't have an account? <a href="/signup" class="link-info">Create one</a></p>
                        <p class="text-center my-2"><a class="link-primary" href="/login">Login</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>