<div class="container my-5 py-5">
    {{!-- reset password form  --}}
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            {{> message}}
            {{> login-image}}
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form class="needs-validation" action="/resetPassword" method="post" novalidate>
                    <h1 class="fw-bold mb-3 pb-3" style="letter-spacing: 1px;">Reset Password</h1>
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                            <label class="form-label" for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control form-control-lg" pattern="^(?=.*\d)(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,16}$" value="{{password}}" required>
                            <div class="invalid-feedback">Please enter your password. The password must contain at least 8 and maximum 16 characters, including at least 1 uppercase, 1 lowercase, and one number.</div>
                        </div>
                        <!--Confirm Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="confirmPassword">Confirm Password</label>
                            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control form-control-lg" pattern="^(?=.*\d)(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,16}$" value="{{confirmPassword}}" required>
                            <div class="invalid-feedback">Please confirm your password.</div>
                        </div>
                        <input type="hidden" name="email" value="{{email}}">
                        <input type="hidden" name="token" value="{{token}}">
                    <!-- Submit button -->
                    <div class="signin-btn text-center">
                        <button type="submit" class="btn btn-success btn-block">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</div>