<div class="container my-5 py-5">
    {{!-- sign in form  --}}
<section id="sign-in-form">
    <div class="container py-5">
        <div class="row d-flex align-items-center justify-content-center">
            {{> message}}
            {{> login-image}}
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form class="needs-validation" action="/users/login" method="post" novalidate>
                    {{> login-input}}
                    <div class="text-center align-items-center mb-4">
                        <p class="my-2">Don't have an account? <a href="/users/signup" class="link-info">Create one</a></p>
                        <a href="/users/forgetPassword">Forgot password?</a>
                    </div>
                    <!-- Submit button -->
                    <div class="signin-btn text-center">
                        <button type="submit" class="btn btn-success btn-block">Log in</button>
                    </div>
                    <!-- Divider -->
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0 text-muted">Or Log in with</p>
                    </div>
                    <!-- SSO signin -->
                    <div class="sso-sigin d-flex justify-content-center mt-4 pt-1">
                        <a href="/auth/google" class="text-muted"><i class="fa-brands fa-google fa-xl mx-3"></i></a>
                        <a href="/auth/twitter" class="text-muted"><i class="fa-brands fa-twitter fa-xl mx-3"></i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</div>
