<div class="container my-5 py-5">
    {{!-- sign in form  --}}
<section id="sign-in-form">
    <div class="container py-5">
        <div class="row d-flex align-items-center justify-content-center">
            {{> message}}
            {{> login-image}}
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form class="needs-validation" action="/users/login" method="post" novalidate>
                    <h1 class="fw-bold mb-3 pb-3" style="letter-spacing: 1px;">Log in</h1>
                    {{!-- Csrf token  --}}
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control form-control-lg" value="{{email}}" required>
                        <div class="invalid-feedback">Please enter a valid email.</div>
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control form-control-lg" pattern="^(?=.*\d)(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,16}$" required>
                        <div class="invalid-feedback">Please enter your password. The password must contain at least 8 and maximum 16 characters, including at least 1 uppercase, 1 lowercase, and one number.</div>
                    </div>
                    <div class="text-center align-items-center mb-4">
                        <p class="my-2">Don't have an account? <a href="/users/signup" class="link-info">Create one</a></p>
                        <a href="/users/forgetPassword">Forgot password?</a>
                    </div>
                    <!-- Submit button -->
                    <div class="signin-btn text-center">
                        <button type="submit" class="btn btn-success btn-block">Log in</button>
                    </div>
                    <!-- Divider -->
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0 text-muted">Or Log in with</p>
                    </div>
                    <!-- SSO signin -->
                    <div class="sso-sigin d-flex justify-content-center mt-4 pt-1">
                        <a href="/auth/google" class="text-muted"><i class="fa-brands fa-google fa-xl mx-3"></i></a>
                        <a href="/auth/twitter" class="text-muted"><i class="fa-brands fa-twitter fa-xl mx-3"></i></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</div>


