<div class="container my-5 py-5 min-vh-100">
    {{!-- reset password form  --}}
<section id="reset-password">
    <div class="container py-5">
        <div class="row d-flex align-items-center justify-content-center">
            {{> message}}
            {{> login-image}}
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form class="needs-validation" action="/users/resetPassword?_method=PUT" method="post" novalidate>
                    {{> reset-password-input}}
                </form>
            </div>
        </div>
    </div>
</section>
</div>
