@use "../base/color" as color;
@use '../base/typography' as font;
@use "../components/form" as form;

$social-media-size: 60px;
$btn-border-radius: $social-media-size/2;

@mixin social-media-sizing($border-length, $border-radius) {
  width: $border-length;
  height: $border-length;
  line-height: $border-length;
  border-radius: $border-radius
}

.contact input,
.contact textarea {
  input,
  textarea {
    @extend %input-area;
  }
}

.form-control::placeholder {
  color: color.$secondary-black;
  opacity: 0.5;
}

.btn-contact {
  width: 100%;
  border-radius: $btn-border-radius;
  padding: 15px 27px;
  color: color.$secondary-black;
  opacity: 0.8;
  font-weight: font.$bold;
  background: color.$secondary-green;
  cursor: pointer;
}

.btn-contact {
  &:hover,
  &:focus {
    background: color.$secondary-green-hover;
    color: color.$pure-white;
  }
}

.social-media {
  overflow: hidden;
  margin-bottom: 10px;
  padding-left: 40px;
  h3 {
    overflow: hidden;
    font-weight: font.$bold;
  }
  i {
    @include social-media-sizing($social-media-size, $btn-border-radius);
    margin: 0 14px 20px 0;
    text-align: center;
    cursor: pointer;
    background: color.$extra-light-grey;
    color: color.$medium-grey;
    opacity: 0.8;
    font-size: 24px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
    &:hover{
      color: color.$secondary-black;
    }
  }

}
