/* This file contains css settings of elements on the index page.  */

/* index page alert */
.index-alert div {
  margin-bottom: 0%;
}

/* carousel  */
.carousel-item img {
  opacity: 0.5;
}

.carousel-caption {
  top: 35%;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Roboto", "Lato", sans-serif;
}

.carousel-caption p {
  color: #1b3c3b;
}

/* try it btn  */
.try-it-btn a {
  font-family: "Lora", sans-serif;
  font-size: 1.5rem;
}

/* features section (why cook with us section)  */
/* title  */
.features-title,
.commitment-title,
.feedback-title {
  font-family: "ChenYuluoyan", "Roboto", "Lato", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
}

/* features cards */
.feat-cards-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feat-card,
.card {
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.feat-card {
  height: auto;
  border-radius: 5%;
}

.feat-card::before,
.feat-card::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  bottom: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
  transition: transform 0.4s ease-out;
}

.feat-card::before {
  border-top: 1px solid rgb(210, 208, 208);
  border-bottom: 1px solid rgb(210, 208, 208);
  transform: scale(0, 1);
}

.feat-card::after {
  border-left: 1px solid rgb(210, 208, 208);
  border-right: 1px solid rgb(210, 208, 208);
  transform: scale(1, 0);
}

.feat-card:hover::before {
  transform: scale(1.05, 1);
}

.feat-card:hover::after {
  transform: scale(1, 1.05);
}

.card-img {
  position: relative;
  object-fit: cover;
  display: block;
  transition: opacity 0.2s ease-out;
}

.feat-card:hover img {
  opacity: 0.4;
}

.card-text {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #1b3c3b;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-family: "Roboto", "Lato", sans-serif;
}

.feat-card:hover .card-text {
  opacity: 1;
}

.card-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.2em;
}

.card-description,
.accordion-body,
blockquote p {
  font-size: 1.3rem;
}

/* commitment section  */
.accordion-button,
.accordion-button:not(.collapsed) {
  color: rgb(102, 140, 102);
  font-size: 2rem;
  font-weight: 700;
  font-family: "Roboto", "Lato", sans-serif;

}

.accordion-button:not(.collapsed) {
  background-color: #ffffff;
}

.accordion-item button {
  background-image: linear-gradient(to right bottom, #f6f9f8, #f0faf6, #ebfaf3, #e6fbf0, #e2fbec);
}

.accordion-body {
  height: 200px;
  overflow-y: scroll;
}

/* feedback section  */
#carouselFeedback {
  position: relative;
}

#carouselFeedback img {
  position: relative;
  width: 100%;
  height: 420px;
  object-fit: cover;
  opacity: 0.3;
}

#carouselFeedback .carousel-inner {
  position: absolute;
  width: 95%;
  top: 10%;
  left: 3%;
}

@media screen and (min-width: 600px) {

  /* main carousel  */
  .carousel-caption {
    font-size: 3rem;
  }

  /* try it btn  */
  .try-it-btn a {
    width: 20%;
    font-size: 1.1rem;
  }

  /* feature section  */
  .features-title,
  .commitment-title {
    font-size: 5rem;
  }

  /* feedback section  */
  .feedback-title {
    font-size: 4.5rem;
  }

  #carouselFeedback .carousel-inner {
    top: 25%;
  }
}

@media screen and (min-width: 768px) {

  /* feature cards  */
  .feat-cards-row {
    flex-direction: row;
  }

  /* commitment section  */
  .accordion-body {
    height: 300px;
  }

  /* feedback section  */
  .feedback-title {
    font-size: 5rem;
  }

  #carouselFeedback .carousel-inner {
    width: 100%;
    top: 12%;
  }

}


@media screen and (min-width: 960px) {

  /* main carousel  */
  .carousel-caption {
    font-size: 3.5rem;
  }

  /* try it btn  */
  .try-it-btn a {
    width: 19%;
    font-size: 1.4rem;
  }

  /* feedback section */
  #carouselFeedback img {
    height: 390px;

  }

  #carouselFeedback .carousel-inner {
    top: 20%;
  }


}

@media screen and (min-width: 992px) {

  /* main carousel  */
  .carousel-caption {
    top: 25%;
    font-size: 4rem;
  }

  /* try it btn  */
  .try-it-btn a {
    width: 15%;
  }

  /* feedback section  */
  #carouselFeedback img {
    height: 350px;
  }

  #carouselFeedback .carousel-inner {
    top: 20%;
  }
}
