/* This file contains css settings of elements on order and payment related pages.  */

/* confirm order */
.order-confirm>* {
  margin-top: 1.5rem;
}

.order-confirm .confirm-title {
  font-family: "ChenYuluoyan", sans-serif;
  font-size: 250%;
  font-weight: bold;
}

.order-confirm h4 {
  line-height: 1.5rem;
  font-family: "Lato", sans-serif;
}

/* payments */
.payment-container {
  font-size: large;
}

.payment-container ol {
  padding-left: 0.5rem;
}

.payment-container label {
  display: block;
}

.payment-container input {
  width: 75%;
  height: 2.3rem;
}

@media screen and (min-width: 600px) {

  /* confirm order  */
  .order-confirm .confirm-title {
    font-size: 300%;
  }
}

@media screen and (min-width: 768px) {

  /* payment  */
  .payment-container {
    flex-direction: row;
  }

}

@media screen and (min-width: 960px) {

  /* confirm order  */
  .order-confirm .confirm-title {
    font-size: 350%;
  }

}
