/* This file contains css settings of elements on user/admin related pages, including profile, cart, sign in, and admin dashboard.  */

/* sign in page  */
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

/* cart and profile */
.reselect-plan,
.scroll-title,
.scroll-body strong,
.scroll-body select,
.profile-subtitle {
  font-family: "Roboto", sans-serif;
}

/* cart  */
.reselect-plan {
  color: #06716e;
  font-size: 1.3rem;
}

.cart-form-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 85%;
  width: 100%;
}

.empty-cart-container {
  height: 75%;
}

.scroll-title,
.profile-subtitle {
  margin-bottom: 0.8rem;
  color: #06716e;
}

.scroll-body strong,
.scroll-body select {
  margin-bottom: 0.85rem;
  font-size: 1.18rem;
}

.scroll-body li {
  margin-bottom: 0.3rem;
}

/* profile  */
.profile-container {
  min-height: 100%;
}

.profile-container .nav {
  justify-content: center;
  margin-bottom: 1.5rem;
}

.profile-container details {
  margin-bottom: 40px;
}

.profile-container .nav-link,
.profile-container .nav-link.active {
  width: 150px;
  font-size: 1.3rem;
}

.profile-container .nav-link {
  color: #0d0d0d;
}

.profile-container .nav-link.active {
  background-color: #6fd0b5;
  opacity: 0.9;
}

.profile-contents {
  display: table;
  height: auto
}

.confirm-btn,
.try-it-btn a,
.menu-btn a {
  background-color: rgb(37, 137, 125);
  color: #fff;
}

.details-btn {
  background-color: #76d8bd;
  border: #76d8bd;
}

.cancelOrder-btn,
.editOrder-btn {
  cursor: pointer;
}

.profile-item li {
  margin-top: 18px;
  margin-right: 5px;
}

.profile-item strong {
  font-size: 1.1rem;
  margin-right: 0.5rem;
}

/* admin dashboard  */
.sort-btn {
  position: relative;
  padding-left: 8px;
}

.sort-btn a {
  position: absolute;
  color: #666666;
}

.sort-btn a:first-child {
  margin-bottom: 14px;
}

.active-filter {
  padding-inline: 0%;
  padding-top: 50%;
}

.recurSub-filter,
.status-filter {
  padding: 0%;
}

/* RWD settings */
@media (max-width: 599px) {

  /* admin dashboard */
  table thead {
    display: none;
  }

  table tr {
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    padding: 1px;
  }


  table td[data-label] {
    display: flex;
    font-weight: bold;
  }

  table td[data-label=Email] {
    word-break: break-all;
  }

  table td[data-label]::before {
    content: attr(data-label);
    color: #06716e;
    font-weight: 100;
    width: 50%;
  }

  .details-btn,
  .editOrder-btn-container {
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (min-width: 600px) {

  /* profile  */
  .profile-container {
    display: flex;
    align-items: flex-start;
  }

  .profile-container .nav {
    flex-direction: column;
  }

  /* admin dashboard  */
  .sort-filter-sm-screen {
    display: none;
  }

}
