@use '../base/color' as color;
@use '../abstracts/placeholders';


$iconMargin: 8px;
$footerPadding: 24px;

.footer {
  background-color: color.$secondaryThemeColor;
  padding : {
    top: $footerPadding;
    bottom: $footerPadding;
  }
  ul {
    @extend %flexCenter;
  }
  li {
    margin-left: $iconMargin;
    &:nth-of-type(n+2) {
      margin-left: $iconMargin;
    }
    a {
        font-size: 18px;
        transition: color .235s ease-in-out;
        color: rgba(29, 27, 27, 0.285);
        &:focus, &:hover{
          color: rgba(79, 115, 88, 0.984);
        }
    }
  }
}


