/* white */
$primary-white:  #f6fcf9;
$pure-white: #fff;

/* grey */
$grey: #d7dfe6;
$light-grey:#b1cdc5;

/* green */
$primary-green: #06716e;
$light-primary-green: rgb(37, 137, 125);
$secondary-green: #7ceece;
$light-secondary-green:  #b0e1d3;

/* brown */
$primary-contrast-brown:  #9e2224;

