// white 
$primary-white: #f6fcf9;
$pure-white: #fff;

// grey
$extra-light-grey: #f6f6f6;
$light-grey: #b1cdc5;
$grey: #d7dfe6;
$medium-grey: #666666;

// black
$primary-black: #0d0d0d;
$secondary-black: #232434;

// green
$dark-green: #1b3c3b;
$primary-green: #06716e;
$light-primary-green: rgb(37, 137, 125);
$secondary-green: #7ceece;
$secondary-green-hover: #4bb194;
$light-secondary-green: #b0e1d3;
$extra-light-secondary-green: #cff0e6;

// brown
$primary-contrast-brown: #9e2224;
