/* font family */
$handWrittenFont: "ChenYuluoyan", sans-serif;
$mainFont:  "Lora", sans-serif;
$subtitleFont: "Roboto", sans-serif;
$textFont: "Lato", sans-serif;

/* font weight */
$bold: 600;
$extraBold: 700;